@model IEnumerable<WebApplication3.Models.CheckingAccount>

@{
    ViewBag.Title = "Index";
    var a = ViewBag.UserId;
}

<h2>Index</h2>

@if (Model.Count() > 0)
{
    var meta = Model.First();
    <table class="table table-responsive table-striped">
        <thead>
            @* TODO: Get Label name from model properties *@
            @Html.Label("Account Name")
        </thead>
        <thead>
            @* TODO: Get Label name from model properties *@
            @Html.Label("Account Balance")
        </thead>
        @foreach (var account in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => account.CheckingName)
                </td>
                <td>
                    @Html.DisplayFor(m => account.Balance)
                </td>
                <td>
                    @Html.ActionLink("Edit Account", "Edit", new { id = account.Id })
                </td>
            </tr>
        }
    </table>
}



@*<table>
    <thead>
        @Html.DisplayFor(Model.)
    </thead>
    @foreach (var m in Model)
    {

    }
</table>*@

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
